<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:nevrology.sqlite</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="ru.kpfu.patients.entities.Diagnosis"/>
    </session-factory>
</hibernate-configuration>